{% assign ContentItem = Model.ContentItem %}
{% assign Content = ContentItem.Content %}
{% assign User = ContentItem.Author | user %}
{% assign AuthorName = User | user_author_name | capitalize %}
{% assign ImagePath = Content.BlogPost.MainImage.Paths.first %}
{% assign PostPath = ContentItem | display_url %}

<div class="card-block">
    <h2 class="card-title"><a href="{{ PostPath }}">{{ Content.TitlePart.Title }}</a></h2>
    <h4 class="card-text">{{ Content.BlogPost.Subtitle.Text }}</h4>
    <div class="metafooter">
        <div class="wrapfooter">
            <span class="meta-footer-thumb">
                {% a action:"Index", controller:"Author", area:"Skywalker.OrchardCore.ContentExtensions", route_userName: User.UserName %}
                    <img class="author-thumb" src="{{ User.Email | gravatar: size: 250, type: "MM", rating: "X" }}" alt="{{ AuthorName }}">
                {% enda %}
            </span>
            <span class="author-meta">
                <span class="post-name"><a href="/about">{{ AuthorName }}</a></span><br/>
                <span class="post-date">{{ ContentItem.PublishedUtc | date: "%b %d, %y" }}</span><span class="dot"></span><span class="post-read">{{ ContentItem | read_time }} min read</span>
            </span>
            <span class="post-read-more"><a href="{{ PostPath  }}" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
        </div>
    </div>
</div>